<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="sqlConnection"
           connectionString="Data Source=KEVIN-PC\LOCALDB;Initial Catalog=WinSevenToolsDB;Persist Security Info=True;User ID=sa;Password=P@ssword"/> 
    </connectionStrings>
</configuration>